.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  width: 90%;
  overflow-y: hidden;
  position: relative;
  
  @media (min-width: 1024px) {
    width: 60%;
  }
}

.containerBackground {
  background-color: #f0f0f0; 
}

.videoContainer {
  width: 100%; 
  opacity: 0;
  transition: opacity 3s ease-in-out;
  height: max-content;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.video {
  width: 100%; 
  height: auto; 
}

.pickContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../public/images/skyline2.jpg');
  background-size: cover;
  background-position: center;
}

.pickContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #124486ec;
}

.left, .right {
  width: 50%;
  height: 100%;
  z-index: 10;
}

.left {

}

.username {
  color: #0067B1;
  font-size: 30px;
  font-weight: 700;
  opacity: 0;
  animation: fadeInUsername 1s forwards;
  display: flex;
  flex-direction: column;
}

@keyframes fadeInUsername {
  to {
    opacity: 1;
  }
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 60%;
  height: 60%;
}

.image {
  height: 100%;
  width: 100%;
}
