.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  width: 90%;
  overflow-y: hidden;
  position: relative;
  
  @media (min-width: 1024px) {
    width: 70%;
  }
}

.containerBackground {
  background-color: #f0f0f0; 
}

.videoContainer {
  width: 100%; 
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.video {
  width: 100%; 
  height: auto; 
}

.username {
  position: absolute;
  color: #0067B1;
  font-size: 30px;
  font-weight: 700;
  opacity: 0;
  animation: fadeInUsername 1s forwards;
  display: flex;
  flex-direction: column;
}

@keyframes fadeInUsername {
  to {
    opacity: 1;
  }
}
