.animationContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.video {
  width: 150px;
  height: auto;
  filter: saturate(1.8) hue-rotate(55deg) contrast(1);
  filter: #0067B1;
}

