.animationContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.video {
  width: auto;
  height: 120px;
  filter: saturate(1.7) hue-rotate(53deg) contrast(1.2);
  filter: #0067B1;
}

