.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 8px 24px rgba(62, 53, 82, 0.3);
  width: 280px;
  height: 420px;
}

.header {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #0067B1;
  color: white;
  padding: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;
  font-size: 14px;
  justify-content: space-between;
}

.topContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  /* gap: 10px; */
  font-weight: 500;
  /* height: 120px; */
  /* margin-top: 20px; */
  width: 100%;
  position: relative;
}

.icon {
  color: #ED174F;
  font-size: 80px;
  cursor: pointer;
  margin-top: 10px;
}

.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ED174F;
}

.quarter {
  font-family: "Poppins", sans-serif;
}

.timer {
  font-family: "Azeret Mono", monospace;
  font-size: 30px;
  font-weight: 300;
}

.gameStatsContainer {
  /* position: relative; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20px;
  position: absolute;
  top: 0px;
}

.stat {
  /* position: absolute; */
  font-size: 16px;
  animation: fadeOut 3s forwards;
  color: #0067B1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  /* margin-top: 20px; */
  justify-content: space-between;
}

.button {
  padding: 10px 10px;
  background-color: #0067B1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  font-size: 14px;
}

.button:hover {
  background-color: #0a2b82;
}

.button:disabled {
  background-color: #0a2b82;
  opacity: 0.5;
  cursor: not-allowed;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
}

.stats div {
  font-weight: 700;
  color: #0067B1;
}

.role {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  gap: 5px;
}

.role span {
  font-style: italic;
}

.role div {
  font-weight: 700;
  color: #0067B1;
}

