.gameContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
}

.leftContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.rightContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
}

.topContentContainer {
  /* flex: 1; */
  display: flex;
  align-items: center;
  /* width: 90%; */
  justify-content: center;
}

.middleContentContainer {
  flex: 2;
  display: flex;
  flex-wrap: wrap; /* Enable flex wrap */
  align-items: center;
  gap: 20px;
  padding-bottom: 80px;
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.flash {
  animation: flash 0.3s ease-in-out 3; /* Animation duration and repetition */
}

.modal {
  /* position: 'absolute';
  top: '50%'; 
  left: '50%'; 
  transform: 'translate(-50%, -50%)'; 
  width: 400; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: #e6e6e580; */
  background-color: #0067b1c7;
}