.gameContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 20px;
}

.leftContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.topContentContainer {
  /* flex: 1; */
  display: flex;
  align-items: center;
}

.middleContentContainer, .bottomContentContainer {
  flex: 2;
  display: flex;
  flex-wrap: wrap; /* Enable flex wrap */
  /* align-items: stretch; */
  gap: 20px;
  padding: 80px 0;
}

.middleContentContainer > div {
  /* height: 400px;  */
}