.iphoneOutline {
  position: relative;
  /* width: 300px; */
  /* width: 50h; */
  height: 600px;
  aspect-ratio: 1 / 2;
  /* height: 80vh; */
  border: 16px solid #333;
  border-radius: 36px;
  background-color: white;
  background-image: url('../../../public/images/background3.jpg');
  background-size: 280px;
  background-position: -10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.30);
  overflow: hidden;
}


.notch {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 30px;
  background-color: #333;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.speaker {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background-color: black;
  border-radius: 2.5px;
}

.camera {
  position: absolute;
  top: 7px;
  left: calc(50% - 50px);
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.dateTime {
  position: absolute;
  top: 40px;
  left: 16px;
  right: 16px;
  text-align: center;
  /* color: #0067B1; */
  color: white;
  font-weight: 500;
}

.dateTime p:first-child {
  font-size: 16px;
}

.dateTime p:last-child {
  font-size: 40px;
}

.notificationsContainer::-webkit-scrollbar {
  display: none;
}

.notificationsContainer {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.notificationsContainer {
  position: absolute;
  top: 140px; 
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0px 16px;
  box-sizing: border-box;

}

.notification {
  /* background-color: #eee; */
  /* padding: 10px; */
  margin-bottom: 10px;
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  font-size: 12px;
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.692);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  padding: 6px;
}

.messageTop, .instagramTop {
  /* background: #EFF3FB; */
  /* padding: 6px; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: rgb(70, 67, 67);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 4px;
}

.specialTop {
  /* background: #EFF3FB; */
  /* padding: 6px; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #ED174F;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 4px;
}

.messageIcon {
  font-size: 18px;
  color: #30ce22;
}

.instagramIcon {
  width: 18px;
}

.messageContainer, .instagramContainer {
  /* background: #ebefff; */
  /* padding: 6px; */
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
}

.contact, .username {
  font-weight: 600;
}

.message, .action {
  font-weight: 400;
}

.instaUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.verifiedIcon {
  width: 14px;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.notificationAppear {
  animation: appear 0.5s ease-out forwards;
}


@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5); 
  }
  100% {
    opacity: 1;
    transform: scale(1); 
  }
}

/* .notification {
  animation: popIn 0.2s ease-out;
} */

@keyframes slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.notificationPopIn {
  animation: popIn 0.3s forwards;
}

.notificationSlideDown {
  animation: slideDown 0.5s forwards;
}
