.iphoneOutline {
  position: relative;
  /* width: 300px; */
  /* width: 50h; */
  height: 600px;
  aspect-ratio: 1 / 2;
  /* height: 80vh; */
  border: 16px solid #333;
  border-radius: 36px;
  background-color: white;
  background-image: url('../../../public/images/background2.jpg');
  background-size: 300px;
  background-position: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}


.notch {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 30px;
  background-color: #333;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.speaker {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background-color: black;
  border-radius: 2.5px;
}

.camera {
  position: absolute;
  top: 7px;
  left: calc(50% - 50px);
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.dateTime {
  position: absolute;
  top: 40px;
  left: 16px;
  right: 16px;
  text-align: center;
  /* color: #0067B1; */
  color: white;
  font-weight: 500;
}

.dateTime p:first-child {
  font-size: 16px;
}

.dateTime p:last-child {
  font-size: 40px;
}

.notificationsContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.notificationsContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.notificationsContainer {
  position: absolute;
  top: 140px; /* Adjust based on the iPhone screen position */
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  padding: 0px 16px;
  box-sizing: border-box;

}

.notification {
  /* background-color: #eee; */
  /* padding: 10px; */
  margin-bottom: 10px;
  /* border-radius: 8px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.messageTop, .instagramTop {
  background: #EFF3FB;
  padding: 6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: grey;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.messageIcon {
  font-size: 18px;
  color: #359be4;
}

.instagramIcon {
  width: 18px;
}

.messageContainer, .instagramContainer {
  background: #ebefff;
  padding: 6px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.contact, .username {
  font-weight: 600;
}

.message, .action {
  font-weight: 400;
}

.instaUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.verifiedIcon {
  width: 14px;
}

/* Define keyframes for the appear animation */
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}



/* Apply the appear animation */
.notificationAppear {
  animation: appear 0.5s ease-out forwards;
}


@keyframes popOut {
  0% {
    opacity: 0;
    transform:scale(0.5); /* Start smaller */
  }
  100% {
    opacity: 1;
    transform:scale(1); /* Full size */
  }
}

.notification {
  animation: popOut 0.2s ease-out;
}

