.container {
  display: flex;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  /* padding: 15px; */
  flex-direction: column;
  gap: 15px;
  max-width: 800px;
  position: relative;
  backdrop-filter: 0.8;
  align-items: center;
  justify-content: center;
}

.oval {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* justify-content: space-between; */
  padding: 40px 0;
  /* min-height: 400px; */
  gap: 20px;
}

.content span {
  font-weight: 600;
  font-size: 20px;
  /* color: #ED174F; */
  color: #0067B1;
  /* margin-top: 60px; */
  text-align: center;
}

.closeIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px; 
  color: #0067B1;
  cursor: pointer;
  z-index: 10;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.closeIcon:hover {
  background-color: rgba(100, 142, 197, 0.925)
}

.timesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.timeItem {
  display: flex;
  align-items: center;
  padding: 10px; /* Add padding if needed */
  border-bottom: 1px solid #ddd;
}

.index {
  width: 30px;
  text-align: right;
  margin-right: 10px; 
}

.username {
  flex: 1; 
}

.elapsedTime {
  width: 100px; 
  text-align: right; 
  margin-left: 10px; 
}

.userRank {
  margin-top: 20px;
  font-weight: 600;
}

.userRankUndefined {
  margin-top: 20px;
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
}
